<div class="login-component-container">

  <div class="main-container" style="width: 900px;">

    <div class="main-data">
      
      <div class="main-data-content">

        <div class="left-side">

        </div>

        <div class="right-side">

          <div class="login-form" (keyup.enter)="doLogin();">

            <div class="p-field p-input-icon-right">
              <label for="mail">{{ "LABELS.MAIL" | translate }}</label>
              <i class="pi pi-user"></i>
              <input id="mail" type="text" pInputText class="p-inputtext-sm" placeholder="Mail" [(ngModel)]="user.mail">
            </div>

            <div class="p-field" style="margin-bottom: 20px">
              <label for="password">{{ "LABELS.PASSWORD" | translate }}</label>
              <p-password id="password" class="p-inputtext-sm" placeholder="Password" [(ngModel)]="user.password" [toggleMask]="true" [feedback]="false"></p-password>
            </div>

            <div class="buttons-container">
              <div class="remember-me p-field-checkbox">
                <p-checkbox binary="true" [(ngModel)]="rememberMe"></p-checkbox>
                <label for="binary">{{ 'LABELS.REMEMBER_ME' | translate }}</label>
              </div>
              <div class="login-button">
                <div class="animated-button clickable" (click)="doLogin()"> <span> {{ 'BUTTONS.LOGIN' | translate }} </span> </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>

  